* {
  margin: 0;
  padding: 0;
  font-family: "Rubik";
}
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: brown;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  background-color: rgb(215, 217, 234);

  display: flex;
  flex-direction: column;
  border: black 2px solid;
}
.logo-h {
  display: flex;

  justify-content: center;
  text-decoration-line: underline;
  font-size: x-large;
}
.nav-h {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 5px;
  background-color: bisque;
  border-top: black 2px solid;
  background-image: linear-gradient(
    to bottom,
    rgb(5, 139, 248),
    rgb(17, 115, 128)
  );
}
.nav-ti {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: black 2px solid;
  padding-bottom: 5px;
  background-color: bisque;
  background-image: linear-gradient(
    to bottom,
    rgb(5, 139, 248),
    rgb(17, 115, 128)
  );
}
a {
  color: rgba(0, 0, 0);
  text-decoration-line: none;
  cursor: pointer;
  font-weight: bold;
}
main {
  flex-grow: 9;
  /* background-color: rgb(58, 105, 234); */
  background-image: linear-gradient(
    to bottom,
    rgb(6, 226, 246),
    rgb(0, 162, 255),
    blue
  );
}
footer {
  flex-grow: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(17, 243, 239);
}
aside {
  background-color: coral;
}
section {
  display: flex;
  flex-direction: row;
}

.content-odot {
  border: rgb(16, 15, 15) 2px solid;
  padding: 10px;
  margin: 8px;
  background-color: rgba(245, 245, 245, 0.7);
  border-radius: 2px;
}
.content-tot {
  border: rgb(16, 15, 15) 2px solid;
  padding: 10px;
  margin: 8px;
  background-color: rgba(245, 245, 245, 0.7);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
}
.content-span {
  background-color: yellow;
}

.h3-titel {
  text-decoration: underline;
  padding: 2px;
  margin: 5px;
  text-align: center;
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
}
h4 {
  text-decoration: underline;
  margin: 7px;
}
p {
  text-justify: justify;
  padding-bottom: 7px;
}
hr {
  height: 1px;
  background-color: cadetblue;
}
.content-tot-b {
  margin: 10px;
  border: 3px solid black;
  padding: 10px;
  /* height: 60vh; */
  border-radius: 15px;
  transition: background-color 5s 1s, color 5s 1s;
  text-align: center;
  /* overflow: hidden;
  overflow: visible; */
}
.content-tot-b:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.picture-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 25px;
}
img {
  margin: 15px;
  border: 2px blue solid;
  border-radius: 15%;
}
.video-1 {
  display: flex;
  flex-direction: column;
}
.hydro-h3 {
  text-align: center;
  font-size: 30px;
  margin: 10px;
  text-decoration: underline;
}
